:root {
    --clr-verde-3: rgba(13, 67, 40, 0.555);
    --clr-verde-2: rgba(26, 88, 56, 255);
    --clr-verde-1: rgba(33, 98, 64, 255);
    --clr-verde0: rgba(40, 109, 73, 255);
    --clr-verde1: rgba(47, 120, 82, 0.555);
    --clr-verde2: rgba(54, 131, 91, 255);
    --clr-verde3: rgba(67, 152, 109, 255);
    --clr-blanco: #f1f5f9;
    --clr-blanco2:rgba(240, 240, 240, 255);
    --clr-negro: rgba(20, 20, 20, 255)
}
table{
    border-collapse: collapse;
    background: var(--clr-verde-3);
    color: var(--clr-blanco2);
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

th,td{
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 2px solid var(--clr-verde-2);

}

th{
    background: var(--clr-verde-1);
}
tbody tr:nth-child(even){
    background: var(--clr-verde1);
}
caption{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    color: var(--clr-negro);
}