:root {
    --clr-verde-3: rgba(13, 67, 40, 255);
    --clr-verde-2: rgba(26, 88, 56, 255);
    --clr-verde-1: rgba(33, 98, 64, 255);
    --clr-verde0: rgba(40, 109, 73, 255);
    --clr-verde1: rgba(47, 120, 82, 255);
    --clr-verde2: rgba(54, 131, 91, 255);
    --clr-verde3: rgba(67, 152, 109, 255);
    --clr-blanco: #f1f5f9;
    --clr-blanco2:rgba(240, 240, 240, 255);
    --clr-negro: rgba(20, 20, 20, 255)
}

article {
    width: 70vw;
    height: auto;
    margin: 0 auto;

    display: inline-block;
    
  


}

main article img {
    width: 100px;
    height: 100px;

    padding: 0px;
    border: 2px solid var(--clr-verde-1);
    margin: 5px;

    left: 2px;

    display: inline-block;
    justify-content: center;
    
}

article p {

    padding: 5px;
    
    
    text-align: left;
    display: inline;
    font-family: salonDeBelleza;

}